.background {
  background: left top no-repeat url('http://somafm.com/img/FPLoneDJ10.jpg');
}

.logo {
  background-image: no-repeat url('http://somafm.com/img/LogoFP2010.gif');
}

.progressBar {
  background-color: rgb(255, 0, 0);
}
