.background {
  background-color: black;
  background-image: url('http://somafm.com/img/FPLoneDJ10.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  background-image: url('http://somafm.com/img/LogoFP2010.gif');
}

.progressBar {
  background-color: rgb(255, 0, 0);
}
